svg#freepik_stories-fast-loading:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-fast-loading.animated #freepik--Device--inject-43 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}
svg#freepik_stories-fast-loading.animated #freepik--speed-indicator--inject-43 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
