/* Import all of Bootstrap's CSS */
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap/scss/utilities';
@import './sizing.scss';

$utilities: map-merge(
  $utilities,
  (
    'height':
      map-merge(
        map-get($utilities, 'height'),
        (
          values:
            map-merge(
              map-get(map-get($utilities, 'height'), 'values'),
              (
                30: 30%,
              )
            ),
        )
      ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'width':
      map-merge(
        map-get($utilities, 'width'),
        (
          values:
            map-merge(
              map-get(map-get($utilities, 'width'), 'values'),
              (
                15: 15%,
              )
            ),
        )
      ),
  )
);

@import 'bootstrap/scss/utilities/api';

@font-face {
  font-family: 'opensansregular';
  src: url('./fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'opensansbold';
  src: url('./fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}

.sidebar {
  background-color: #5854d5;
  min-width: 200px;
  width: 200px;
  color: rgba(255, 255, 255, 0.645);
}

.opensansregular {
  font-family: opensansregular;
}
.opensansbold {
  font-family: opensansbold;
}

// .banner {
//   background-color: #f7b1a5;
// }
.hover-bg-white:hover {
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: black !important;
  transition: all 0.1s ease-in-out;
}
.hover-bg-white:hover {
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: black !important;
  transition: all 0.1s ease-in-out;
}
.hover-fill-orange:hover {
  fill: orange !important;
  transition: all 0.1s ease-in-out;
}

.form-control:focus {
  border-color: #f7b1a5;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #f7b1a5;
}
/* f7b1a5 */
